@page "/"

@using Microsoft.AspNetCore.Authorization
@using TaskManager.UI.Infrastructure.Cards
@using TaskManager.UI.Infrastructure.Cards.Contracts
@using TaskManager.UI.Infrastructure.Shared
@using TaskManager.UI.Models.Cards
@using TaskManager.UI.Pages.Components

@attribute [Authorize]

@inject ICardService CardService
@inject NavigationManager Navigation

<div class="content-wrapper">
    <button class="btn btn-primary create-button" @onclick="ShowModal">
        <i>Создать</i>
        <span class="create-button-icon"></span>
    </button>
    <div class="table-wrapper">
        @if (_cards is not null)
        {
            <table class="table">

                <thead>
                <tr>
                    <SortableHeader Field="Id" Title="Номер"
                                    SortOrder=@(HasSort("Id") ? GetSortDirection("Id") : null)
                                    SortIndex=@GetSortIndex("Id")
                                    OnToggle="ToggleSort" />
                    
                    <SortableHeader Field="Name" Title="Название"
                                    SortOrder="@(HasSort("Name") ? GetSortDirection("Name") : null)"
                                    SortIndex=@GetSortIndex("Name")
                                    OnToggle="ToggleSort" />
                    
                    <SortableHeader Field="Status" Title="Статус"
                                    SortOrder="@(HasSort("Status") ? GetSortDirection("Status") : null)"
                                    SortIndex=@GetSortIndex("Status")
                                    OnToggle="ToggleSort" />

                    <SortableHeader Field="CreationDate" Title="Дата создания"
                                    SortOrder="@(HasSort("CreationDate") ? GetSortDirection("CreationDate") : null)"
                                    SortIndex=@GetSortIndex("CreationDate")
                                    OnToggle="ToggleSort" />
                    
                    <SortableHeader Field="EstimatedCompletionDate" Title="Предполагаемая дата"
                                    SortOrder="@(HasSort("EstimatedCompletionDate") ? GetSortDirection("EstimatedCompletionDate") : null)"
                                    SortIndex=@GetSortIndex("EstimatedCompletionDate")
                                    OnToggle="ToggleSort" />
                    
                    <SortableHeader Field="ClosingDate" Title="Дата завершения"
                                    SortOrder="@(HasSort("ClosingDate") ? GetSortDirection("ClosingDate") : null)"
                                    SortIndex=@GetSortIndex("ClosingDate")
                                    OnToggle="ToggleSort" />

                    <SortableHeader Field="User.Name" Title="Создатель"
                                    SortOrder="@(HasSort("User.Name") ? GetSortDirection("User.Name") : null)"
                                    SortIndex=@GetSortIndex("User.Name")
                                    OnToggle="ToggleSort" />
                    
                    
                </tr>
                </thead>
                <tbody>
                @foreach (var card in _cards.Data)
                {
                    <tr @ondblclick="@(() => NavigateToDetails(card.Id))" style="cursor: pointer;">
                        <td>@card.Id</td>
                        <td>@card.Name</td>
                        <td>
                            <span class="@GetStatusClass(card.Status)">
                                @GetStatusText(card.Status)
                            </span>
                        </td>
                        <td>@card.CreationDate.ToLocalTime().ToString("g")</td>
                        <td>@card.EstimatedCompletionDate.ToLocalTime().ToString("g")</td>
                        <td>@(card.ClosingDate?.ToLocalTime().ToString("g") ?? "-")</td>
                        <td>@card.User.Name</td>
                    </tr>
                }
                </tbody>

            </table>
            <div class="options-wrapper">
                <div class="page-selector">
                    <button class="prev-page-button" @onclick="PreviousPage" disabled=@(_currentPage == 1)>
                        <span class="prev-page-button-icon"></span>
                    </button>
                    <span class="current-page-number">@_currentPage</span>
                    <button class="next-page-button" @onclick="NextPage" disabled="@(_currentPage == _cards.TotalPages)">
                        <span class="next-page-button-icon"></span>
                    </button>
                </div>
                <select value="@_pageSize" @onchange="OnPageSizeChanged" class="page-size-selector">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

<Modal @ref="_modalRef" Title="Создать задачу">
    <EditForm Model="CreateCardRequest" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        <div class="modal-body">
            <InputText @bind-Value="CreateCardRequest.Name" class="default-input" placeholder="Название"/>
            <InputTextArea @bind-Value="CreateCardRequest.Description" class="default-input" placeholder="Описание"/>
            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="CreateCardRequest.EstimatedCompletionDate" class="default-input"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" @onclick="CloseModal">Закрыть</button>
            <button class="btn btn-outline-primary" type="submit"><span style="margin: auto">Создать</span></button>
        </div>
    </EditForm>
</Modal>

@code {
    private PagedList<GetCardResponse>? _cards;
    
    private int _currentPage = 1;
    private int _pageSize = 10;

    private List<(string Field, string Direction)> _sorts = new();
    
    [SupplyParameterFromForm]
    private CreateCardRequest CreateCardRequest { get; set; } = new() { EstimatedCompletionDate = DateTime.UtcNow };
    private Modal? _modalRef;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadCardsDataAsync();
    }

    #region Sorting

    private async Task ToggleSort(string fieldName)
    {
        var index = _sorts.FindIndex(s => s.Field == fieldName);

        if (index == -1)
        {
            _sorts.Add((fieldName, "asc"));
        }
        else if (_sorts[index].Direction == "asc")
        {
            _sorts[index] = (fieldName, "desc");
        }
        else
        {
            _sorts.RemoveAt(index);
        }

        await LoadCardsDataAsync();
    }
    
    private bool HasSort(string field) => _sorts.Any(s => s.Field == field);
    
    private string GetSortDirection(string field) => _sorts.FirstOrDefault(s => s.Field == field).Direction;
    
    private int? GetSortIndex(string field)
    {
        var index = _sorts.FindIndex(s => s.Field == field);
        return index >= 0 ? index : null;
    }

    #endregion
    
    #region Pagination
    
    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        _cards = null;
        _currentPage = 1;
        _pageSize = Convert.ToInt32(e.Value);
    
        await LoadCardsDataAsync();
    }
    
    private async Task PreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadCardsDataAsync();
        }
    }

    private async Task NextPage()
    {
        if (_currentPage < _cards?.TotalPages)
        {
            _currentPage++;
            await LoadCardsDataAsync();
        }
    }
    
    #endregion

    #region CreateForm

    private void ShowModal()
    {
        _modalRef?.Show();
    }
    
    private async void HandleValidSubmit()
    {
        await CardService.CreateAsync(CreateCardRequest);
        
        await LoadCardsDataAsync();
    }
    
    private void CloseModal()
    {
        _modalRef?.Close();
    }

    #endregion

    #region Table

    private async Task LoadCardsDataAsync()
    {
        string sortString = string.Join(",", _sorts.Select(s => s.Direction == "desc" ? $"-{s.Field}" : s.Field));
        
        _cards = await CardService.GetAsync(sortString, string.Empty, _currentPage, _pageSize);
        StateHasChanged();
    }
    
    private void NavigateToDetails(int cardId)
    {
        Navigation.NavigateTo($"/card/{cardId}");
    }
    
    private string GetStatusText(int status) => status switch
    {
        0 => "Создана",
        1 => "В процессе",
        2 => "Завершена",
        _ => "Неизвестно"
    };

    private string GetStatusClass(int status) => status switch
    {
        0 => "status-created",     // серый
        1 => "status-in-progress", // синий
        2 => "status-done",        // зелёный
        _ => "status-unknown"
    };

    #endregion
    
}