@page "/"

@using Microsoft.AspNetCore.Authorization
@using TaskManager.UI.Infrastructure.Cards
@using TaskManager.UI.Infrastructure.Cards.Contracts
@using TaskManager.UI.Infrastructure.Shared
@using TaskManager.UI.Models.Cards
@using TaskManager.UI.Pages.Components

@attribute [Authorize]

@inject ICardService CardService

<div class="content-wrapper">
    <button class="btn btn-primary create-button" @onclick="ShowModal">
        <i>Создать</i>
        <span class="create-button-icon"></span>
    </button>
    <div class="table-wrapper">
        @if (_cards is not null)
        {
            <table class="table">

                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var grid in _cards.Data)
                {
                    <tr>
                        <td>@grid.Id</td>
                        <td>@grid.Name</td>
                    </tr>
                }
                </tbody>

            </table>
            <div class="options-wrapper">
                <div class="page-selector">
                    <button class="prev-page-button" @onclick="PreviousPage" disabled=@(_currentPage == 1)>
                        <span class="prev-page-button-icon"></span>
                    </button>
                    <span class="current-page-number">@_currentPage</span>
                    <button class="next-page-button" @onclick="NextPage" disabled="@(_currentPage == _cards.TotalPages)">
                        <span class="next-page-button-icon"></span>
                    </button>
                </div>
                <select value="@_pageSize" @onchange="OnPageSizeChanged" class="page-size-selector">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

<Modal @ref="_modalRef" Title="Создать задачу">
    <EditForm Model="CreateCardRequest" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" @onclick="Close">Закрыть</button>
            <button class="btn btn-outline-primary" @onclick="CreateCard"><span style="margin: auto">Создать</span></button>
        </div>
    </EditForm>
</Modal>

@code {
    private PagedList<GetCardResponse>? _cards;
    
    private int _currentPage = 1;
    private int _pageSize = 10;

    [SupplyParameterFromForm]
    private CreateCardRequest CreateCardRequest { get; set; } = new();
    private Modal? _modalRef;
    
    private void ShowModal()
    {
        _modalRef?.Show();
    }
    
    
    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        _cards = null;
        _currentPage = 1;
        _pageSize = Convert.ToInt32(e.Value);
    
        await LoadCardsDataAsync();
    }
    
    private async Task PreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadCardsDataAsync();
        }
    }

    private async Task NextPage()
    {
        if (_currentPage < _cards?.TotalPages)
        {
            _currentPage++;
            await LoadCardsDataAsync();
        }
    }
    
    private async Task LoadCardsDataAsync()
    {
        _cards = await CardService.GetAsync(_currentPage, _pageSize);
    }


    private void HandleValidSubmit()
    {
        
    }
    
    private void Close()
    {
        _modalRef?.Close();
    }
    
    private async Task CreateCard()
    {
        await CardService.CreateAsync(CreateCardRequest);
        
        await LoadCardsDataAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadCardsDataAsync();
    }
}